.err-theme {
    --accent-color: #e96161;
    background    : rgb(223, 223, 223);
    background    : linear-gradient(0deg, rgb(230, 221, 221) 0%, rgb(223, 223, 223) 10%);
}

.err-theme.panel {
    border: 0.2rem solid var(--accent-color);
    gap   : 2rem;
}

.err-title {
    text-align: center;
    font-size : 3rem;

    color: #f84545;

    align-self: center;

}

#err-text {
    font-size: 1.4rem;

    align-self: center;
    text-align: center;

}

.err-button {
    padding         : 1rem;
    border-radius   : 1.5rem;
    border          : var(--accent-color) solid 0.2rem;
    text-decoration : none;
    background-image: linear-gradient(0deg, rgb(204, 194, 194) 0%, rgb(209, 209, 209) 20%);
}

.err-button:hover {
    background-image: linear-gradient(0deg, rgb(185, 177, 177) 0%, rgb(185, 185, 185) 20%);
}

.err-button:active {
    background-image: linear-gradient(0deg, rgb(167, 159, 159) 0%, rgb(168, 168, 168) 20%);
}