.second-hidden tr>*:nth-child(2) {
  display: none;
}

body,
html {
  width : 100%;
  height: 100%;
  margin: 0;
}

body {
  background-color: rgb(233, 233, 233);
  display         : flex;
  align-items     : center;
  justify-content : center;
}

.row {
  display       : flex;
  flex-direction: row;
}

.column {
  display       : flex;
  flex-direction: column;
}

.column.scroll {
  overflow-x: scroll;
}

.can-hide {
  transition: opacity 0.1s;
}

.hidden {
  opacity: 0;
}

.fully-hidden {
  display: none;
}



button {
  padding         : 0.4rem;
  font-size       : 1rem;
  border          : rgb(75, 75, 75) solid 0.2rem;
  border-radius   : 0.5rem;
  background-color: rgb(212, 212, 212);
}

button:hover {
  background-color: rgb(201, 201, 201);
}

button:active {
  background-color: rgb(196, 196, 196);
}

#select-file-panel button {
  padding-left: 0.5rem;
}

.text-align-left {
  text-align: left;
}

#last-file-path {
  opacity   : 0.7;
  font-style: italic;
}

.gap-small {
  gap: 0.3rem;
}

.gap-medium {
  gap: 0.7rem;
}

.content-space-evenly {
  justify-content: space-evenly;
}

.flow-axis-center {
  align-items: center;
}

.field-title {
  font-size: 1.25rem;
}

.field-data {
  background-color: rgb(176, 176, 176);
  border-radius   : 0.5rem;
  padding         : 0.5rem;
  padding-left    : 0.7rem;
  padding-right   : 0.7rem;
}

#learning-phase-fields {
  overflow-x   : hidden;
  border-radius: 1rem;
}